# Solace Agent Mesh Agent Configuration

log:
  stdout_log_level: INFO
  log_file_level: DEBUG
  log_file: a2a_agent.log

!include ../shared_config.yaml

apps:
  - name: "ImageAgent__app"
    app_base_path: .
    app_module: solace_agent_mesh.agent.sac.app
    broker:
      <<: *broker_connection

    app_config:
      namespace: "${SOLACE_ACADEMY_SAM_DEMO}"
      supports_streaming: true
      agent_name: "ImageAgent"
      display_name: "Image Agent Agent"
      model: *image_gen_model 

      instruction: |
        You are an image generation agent whose job it is to create and describe images.
      
      tools: 
        - group_name: artifact_management
          tool_type: builtin-group
        - group_name: image
          tool_type: builtin-group

      session_service: 
        type: "sql"
        default_behavior: "PERSISTENT"
        database_url: "${IMAGE_AGENT_DATABASE_URL, sqlite:///image_agent.db}"
      artifact_service: *default_artifact_service
      
      artifact_handling_mode: "reference"
      enable_embed_resolution: true
      enable_artifact_content_instruction: true
      data_tools_config: *default_data_tools_config

      # Agent Card Definition
      agent_card:
        description: |
          This agent can describe and generate images
        defaultInputModes: [text] 
        defaultOutputModes: [text, file, image] 
        skills: []
      
      # Discovery & Communication
      agent_card_publishing: 
        interval_seconds: 10
      agent_discovery: 
        enabled: true
      inter_agent_communication:
        allow_list: ["*"] 
        deny_list: [] 
        request_timeout_seconds: 600